<h1>Your Shopping Cart</h1>

<% if @cart_items.empty? %>
  <p>Your cart is empty.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |item| %>
        <tr>
          <td><%= link_to item[:product].name, product_path(item[:product]) %></td>
          <td><%= item[:quantity] %></td>
          <td>$<%= item[:product].price %></td>
          <td>$<%= item[:total_price] %></td>
          <td>
          <%= link_to 'Remove', remove_from_cart_cart_index_path(product_id: item[:product].id), method: :delete %>
            <%= form_with url: update_quantity_cart_index_path, method: :post, local: true do |form| %>
              <%= hidden_field_tag :product_id, item[:product].id %> <!-- ID of the product to update -->
              <%= number_field_tag :quantity, item[:quantity], min: 1 %> <!-- The quantity input -->
              <%= submit_tag 'Update Quantity' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Total: $<%= @cart_items.sum { |item| item[:total_price] } %></h3>

<% end %>
