<h1>Welcome to A La Carde!</h1>

<h2>New Products (Added in the Last 3 Days)</h2>
<div id="new-products">
  <% if @new_products.present? %>
    <% @new_products.each do |product| %>
      <div class="product">
        <h3><%= link_to product.name, product_path(product) %></h3>
        <p><%= product.description %></p>
        <p>Price: $<%= product.price %></p>

        <% if product.image.attached? %>
          <%= image_tag product.image, class: 'product-image' %>
        <% else %>
          <p>No image available</p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No new products available at the moment. Please check back later!</p>
  <% end %>
</div>

<h2>Recently Updated Products (Updated in the Last 3 Days)</h2>
<div id="recently-updated-products">
  <% if @recently_updated_products.present? %>
    <% @recently_updated_products.each do |product| %>
      <div class="product">
        <h3><%= link_to product.name, product_path(product) %></h3>
        <p><%= product.description %></p>
        <p>Price: $<%= product.price %></p>

        <% if product.image.attached? %>
          <%= image_tag product.image, class: 'product-image' %>
        <% else %>
          <p>No image available</p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No recently updated products available at the moment. Please check back later!</p>
  <% end %>
</div>

<h2>Other Products</h2>
<div id="other-products">
  <% if @random_products.present? %>
    <% @random_products.each do |product| %>
      <div class="product">
        <h3><%= link_to product.name, product_path(product) %></h3>
        <p><%= product.description %></p>
        <p>Price: $<%= product.price %></p>

        <% if product.image.attached? %>
          <%= image_tag product.image, class: 'product-image' %>
        <% else %>
          <p>No image available</p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No products available at the moment. Please check back later!</p>
  <% end %>
</div>
