<h1>Your Cart</h1>

<% if @cart.any? %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.each do |product_id, quantity| %>
        <% product = Product.find(product_id) %>
        <tr>
          <td><%= product.name %></td>
          <td>$<%= number_to_currency(product.price) %></td>
          <td>
            <%= form_with url: update_item_cart_path, method: :patch, local: true do |form| %>
              <%= form.hidden_field :product_id, value: product.id %>
              <%= form.number_field :quantity, value: quantity, min: 0, step: 1 %>
              <%= form.submit "Update", class: "btn btn-primary" %>
            <% end %>
          </td>
          <td><%= number_to_currency(product.price * quantity) %></td>
          <td>
           <%= link_to "Remove", remove_item_cart_path(product_id: product.id), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Total: <%= number_to_currency(@cart.sum { |product_id, quantity| Product.find(product_id).price * quantity }) %></h3>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
