<h1><%= @category.name %></h1>

<%= link_to 'Back to Categories', categories_path, class: 'back-to-categories-button' %>

<div id="products">
  <% if @products.present? %>
    <% @products.each do |product| %>
      <div class="product">
        <h2><%= link_to product.name, product_path(product) %></h2>
        <p><%= product.description %></p>
        <p>Price: $<%= product.price %></p>
      </div>
    <% end %>

    <div class="pagination">
      <%= paginate @products, param_name: :page, params: { keyword: params[:keyword], category_id: params[:id] } %>
    </div>

  <% else %>
    <p>No products available in this category.</p>
  <% end %>
</div>
