<h1>Available Products</h1>

<div id="filters">
  <%= link_to 'New Products', products_path(filter: 'new'), class: 'filter-link' %> |
  <%= link_to 'Recently Updated Products', products_path(filter: 'recently_updated'), class: 'filter-link' %> |
  <%= link_to 'All Products', products_path, class: 'filter-link' %>
</div>

<div id="products">
  <% @products.each do |product| %>
    <div class="product">
      <h2><%= link_to product.name, product_path(product) %></h2>
      <p><%= product.description %></p>
      <p>Price: $<%= product.price %></p>

      <% if product.image.attached? %>
        <%= image_tag product.image, alt: product.name, class: 'product-image' %>
      <% else %>
        <p>No image available</p>
      <% end %>
    </div>
  <% end %>

  <div class="pagination">
    <%= paginate @products, param_name: :page, params: { keyword: params[:keyword], category_id: params[:category_id].presence, filter: params[:filter] } %>
  </div>
</div>
