<nav>
  <div class="navbar-container">
    <%= link_to "A La Carde", root_path, class: "navbar-logo" %>
    <ul class="navbar-links">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Products", products_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
      <li><%= link_to "About", page_path("about") %></li>
      <li><%= link_to "Contact", page_path("contact") %></li>
    </ul>

    <div class="navbar-search">
      <%= form_with url: products_path, method: :get, local: true, class: "search-form" do |form| %>
        <%= form.text_field :keyword, placeholder: "Search products...", value: params[:keyword], class: "search-input" %>
        <%= form.select :category_id, options_for_select([["All Categories", nil]] + Category.all.pluck(:name, :id), params[:category_id]), class: "search-select" %>
        <%= form.submit "Search", class: "search-button" %>
      <% end %>
    </div>

    <div class="navbar-cart">
      <%= link_to "Cart", cart_path, class: "cart-link" %>
    </div>
  </div>
</nav>
